@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  min-height: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);
  overflow: auto;
}

input {
  width: 300px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 25px;
  margin-top: 35px;
  margin-bottom: 35px;
}

input::placeholder {
  padding-left: 15px;
  color: rgb(219, 219, 219);
  font-size: 10px;
  transform: translate3d(0, -2px, 0);
}

input:focus {
  outline: none;
  caret-color: rgb(0, 123, 255);
}

.phoneRule {
  width: 108px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  input {
    position: fixed;
    bottom: 30px;
    height: 50px;
    border-radius: 15px;
    box-shadow: rgba(14, 14, 14, 0.362) 0px 8px 24px;
    z-index: 1;
  }

  body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
}
